@import "tailwindcss";
@plugin "daisyui" {
	theme: light, dark;
	--base-content: black;
}
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
@custom-variant light (&:where([data-theme="light"], [data-theme="light"] *));


:root {
	font-size: 16px;
}
html {
	height: auto;
	scroll-behavior: smooth;
	width: 100%;
}
html,
body {
	min-width: 320px;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main,
#root {
	flex-grow: 1;
	width: 100%;
	min-width: 320px;
	display: flex;
	flex-direction: column;
}

.select__control{
	border-color: oklch(21% 0.006 285.885) !important;
	box-shadow: none !important;
}


@media (prefers-color-scheme: dark) {
	.select__menu{
		background-color: oklch(21.15% 0.012 254.09) !important;
	}
	.css-d7l1ni-option{
		background: oklch(25.33% 0.016 252.42) !important;
	}
	.select__control{
		/* background: oklch(21.15% 0.012 254.09) !important; */
		background: transparent !important;
		border-color: color-mix(in oklab, var(--color-base-content) 20%, #0000) !important;
	}
	.select__multi-value__label{
		background-color: oklch(25.33% 0.016 252.42) !important;
		color: white !important;
		border: none !important
	}
	.select__multi-value__remove{
		background-color: oklch(25.33% 0.016 252.42) !important;
	}
	.select__input-container .select__input{
		color: white !important;
	}
	.css-1p3m7a8-multiValue{
		background-color: transparent !important;
	}
	

}
